body{
	font-family:sans-serif;
}
*{
	font-size:12pt;
}
hr{
	clear:both;
}
/*FOrm*/
textarea{
	width:98%;
	font-family:sans-serif;
}
input{
	width:32%;
}
input[type="submit"]{
	width:auto;
}

/*comments*/
.comment img{
	width:50px;
	height:auto;
}
